body{
  margin:0;
  font-family:Arial,Helvetica,sans-serif;
  background:#eef4ff;
}

.app{
  max-width:700px;
  margin:auto;
  padding:40px;
}
h1{
  text-align:center;
  color:#1f4db8;
}
.subtitulo{
  text-align:center;
  color:gray;
  margin-bottom:35px;
}

.formulario{
  display:flex;
  flex-direction:column;
  gap:15px;
}

input{
  padding:15px;
  font-size:17px;
  border-radius:10px;
  border:1px solid #ccc;
}

button{
  background:#1f6feb;
  color:white;
  border:none;
  border-radius:10px;
  padding:15px;
  font-size:17px;
  cursor:pointer;
}

button:hover{
  background:#0d56d9;
}

.lista{
  margin-top:40px;
}

.palabra{
  display:flex;
  justify-content:space-between;
  background:white;
  padding:15px;
  margin-top:10px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.08);
}
.eliminar{
    background:#d9534f;
    width:50px;
}

.eliminar:hover{
    background:#b52b27;
}